* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}

header {
  position: fixed;
  top: 0;
  padding: 15px 10px;
  width: 100%;
  z-index: 2;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
  }
}

#header-img {
  width: 100%;
  max-width: 300px;
  display: block;
  height: auto;
}

nav {
  min-width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  #nav-bar {
    margin-top: 10px;
    flex-direction: column;
  }
}

a {
  color: black;
  text-decoration: none;
}

#main,
footer {
  margin: auto 5%;
}

#form {
  margin: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #form {
    margin-top: 130px;
  }
}

#email {
  margin: 1.5em auto;
  height: 2.5em;
  width: 30%;
}

#submit {
  background-color: #f1c40f;
  border: none;
  font-weight: bolder;
  padding: 10px;
}

#features {
  margin: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 40px;
}

.feature {
  display: grid;
  grid-template-columns: 50px auto;
  grid-column-gap: 50px;
  align-items: center;
}

h2, p {
  margin: 0;
}

i {
  color: darkorange;
}

@media only screen and (max-width: 550px) {
  i {
    display: none !important;
  }

  #features {
    margin-left: 25px;
  }

  .feature {
    text-align: center;
    display: block;
  }
}

#work {
  box-sizing: border-box;
  margin: 25px auto;
  width: 100%;
  max-height: 315px;
  max-width: 560px;
}

video {
  width: 100%;
  min-height: 300px;
}

#pricing {
  margin: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product {
  margin: 10px;
  width: calc(100% / 3);
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.product-name {
  padding: 10px 0;
  background-color: #ddd;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    margin: 10px auto;
    max-width: 300px;
    width: 100%;
  }
}

.price {
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px auto;
}

li {
  list-style-type: none;
  margin: 10px;
}

.btn {
  align-self: center;
  justify-self: center;
  background-color: #f1c40f;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
}

footer {
  background-color: #ddd;
  padding: 20px 10px 10px 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#copyright {
  padding: 10px 10px;
  font-size: 0.9em;
}
